<!DOCTYPE html>
<html>
	<head>
		<title>Resume</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="menu">
			<img id="pic" src="img/photo.jpg" class="img-fluid img-thumbnail" alt="Sophia's photo">
			<h7 class="name">SOPHIA TRAN</h7>
			<div class="nav">
				<a class="tab" href="resume">
					<i class="fas fa-home"></i>
					<p>Resume</p>
				</a>
				<a class="tab" href="projects">
					<i class="fas fa-code"></i>
					<p>Projects</p>
				</a>
				<a class="tab" href="contact">
					<i class="fas fa-envelope"></i>
					<p>Contact</p>
				</a>
			</div>
			<div class="nav-footer">
				<a class="tab-footer" href="https://github.com/elenor001">
					<i class="fab fa-github"></i>
				</a>
				<a class="tab-footer" href="https://gitlab.com/kokokringle">
					<i class="fab fa-gitlab"></i>
				</a>
				<a class="tab-footer" href="https://www.linkedin.com/in/sophia-tran-569493132/">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a class="tab-footer" href="https://codepen.io/tinabalducci/">
					<i class="fab fa-codepen"></i>
				</a>
			</div>
		</div>
		<div class="site">
			<div class="presentation">
				<h1>Presentation</h1>
				<p>My name is Sophia Tran. I graduated from UQAM in December 2018. I have a bachelor in Computer Science. While in school, I have learned all the languages listed in the skills below and I'm eager to further my experience with them or learn new technologies. I've worked for Roy Cleaning, a housekeeping company since 2014.</p>
			</div>
			<div class="skills">
				<h1>Skills</h1>
				<ul>
					<li>
						<i class="fab fa-html5"></i>
						<p>HTML</p>
					</li>
					<li>
						<i class="fab fa-css3-alt"></i>
						<p>CSS</p>
					</li>
					<li>
						<i class="fab fa-js-square"></i>
						<p>Javascript</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>C</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>C++</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>C#</p>
					</li>
					<li>
						<i class="fab fa-php"></i>
						<p>PHP</p>
					</li>
					<li>
						<i class="fab fa-node"></i>
						<p>Node Js</p>
					</li>
					<li>
						<i class="fab fa-java"></i>
						<p>Java</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>Typescript</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>Spring</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>Assembly</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>SQL</p>
					</li>
					<li>
						<i class="fab fa-python"></i>
						<p>Python</p>
					</li>
					<li>
						<i class="fab fa-angular"></i>
						<p>Angular</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>MySQL</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>SQLite</p>
					</li>
					<li>
						<i class="fas fa-code"></i>
						<p>MongoDB</p>
					</li>
				</ul>
			</div>
			<div class="education">
				<h1>Education</h1>
				<h5>UQAM, University</h5>
				<p class="degree">BSc in Computer science and software engineering</p>
				<p class="year">2018</p>
				<h5>Dawson College, CEGEP</h5>
				<p class="degree">DEC in General Social Science</p>
				<p class="year">2011</p>
			</div>
		</div>
	</body>
</html>