<!DOCTYPE html>
<html>
	<head>
		<title>Resume</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</head>
	<body>
		<div class="menu">
			<img id="pic" src="img/photo.jpg" class="img-fluid img-thumbnail" alt="Sophia's photo">
			<h7 class="name">SOPHIA TRAN</h7>
			<div class="nav">
				<a class="tab" href="resume">
					<i class="fas fa-home"></i>
					<p>Resume</p>
				</a>
				<a class="tab" href="projects">
					<i class="fas fa-code"></i>
					<p>Projects</p>
				</a>
				<a class="tab" href="contact">
					<i class="fas fa-envelope"></i>
					<p>Contact</p>
				</a>
				<a class="tab" href="resume-fr">
					<i class="fas fa-language"></i>
					<p>Francais</p>
				</a>
			</div>
			<div class="nav-footer">
				<a class="tab-footer" href="https://github.com/elenor001">
					<i class="fab fa-github"></i>
				</a>
				<a class="tab-footer" href="https://gitlab.com/kokokringle">
					<i class="fab fa-gitlab"></i>
				</a>
				<a class="tab-footer" href="https://www.linkedin.com/in/sophia-tran-569493132/">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a class="tab-footer" href="https://codepen.io/tinabalducci/">
					<i class="fab fa-codepen"></i>
				</a>
			</div>
		</div>
	</body>
</html>