<!DOCTYPE html>
<html>
<head>
<title>Projets</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

        <nav class="navbar fixed-top navbar-expand-lg bg-light">
            <a class="navbar-brand" href="resume-fr">Resumé</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="competences-fr">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projets-fr">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-fr">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects">English</a>
                </li>
                </ul>
            </div>
        </nav>

    <h1 class="display-4 mt-5 ml-5">Projets:</h1>
    <div class="list-group">
        <a href="http://jeanpierregagne.com/" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">http://jeanpierregagne.com/</h5>
          </div>
          <p class="mb-1">Un site que j'ai fait pour un client, Jean-Pierre, qui est un musicien.</p>
          <small>Projet freelance</small>
        </a>
        <a href="http://centredentairedesy.com/" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">http://centredentairedesy.com/</h5>
          </div>
          <p class="mb-1">Un site pour un dentiste.</p>
          <small class="text-muted">Projet freelance</small>
        </a>
        <a href="https://joelmophu.wordpress.com/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">https://joelmophu.wordpress.com/</h5>
            </div>
            <p class="mb-1">Un clog que j'ai fait pour un client, Joel.</p>
            <small>Projet freelance</small>
          </a>
        <a href="https://drive.google.com/file/d/1D6wUFz60FnGVYNk4fbrDholi010BGpZ3/view" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Démo de jeu vidéo pour Windows</h5>
            </div>
            <p class="mb-1">Un projet jeu vidéo que moi et d'autres personnes font dans leur temps-libre.</p>
            <small>Projet personnel</small>
        </a>
        <a href="https://drive.google.com/file/d/1bdM9pI7-ocFyDx-8aqDxVNLYLbI61l6e/view" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Démo de jeu vidéo pour MAC</h5>
            </div>
            <p class="mb-1">Un projet jeu vidéo que moi et d'autres personnes font dans leur temps-libre.</p>
            <small>Projet personnel</small>
        </a>
        <a href="https://portail-5151.herokuapp.com/" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">https://portail-5151.herokuapp.com/</h5>
          </div>
          <p class="mb-1">Un projet de groupe fait pour ma classe "Projet d'analyse et de modélisation". Il simule notre portail d'école.</p>
          <p class="mb-1">Code permanent: admin</p>
          <p class="mb-1">NIP: admin</p>
          <small class="text-muted">Projet d'école</small>
        </a>
        <a href="https://github.com/jlabrosse/INM5151" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">https://github.com/jlabrosse/INM5151</h5>
            </div>
            <p class="mb-1">Le code pour le site INM5151 au-dessus.</p>
            <small>Projet d'école</small>
        </a>
        <a href="https://gitlab.com/soft-decay/inf6150-e2018-test-setup" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">https://gitlab.com/soft-decay/inf6150-e2018-test-setup</h5>
            </div>
            <p class="mb-1">Un projet de groupe fait pour ma classe "Génie logiciel: conduite de projets informatiques". C'est une applications pour localiser les stationnements pour bicyclettes.</p>
            <small>Projet d'école</small>
        </a>
        <a href="https://gitlab.com/kokokringle/inf5153-projet" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">https://gitlab.com/kokokringle/inf5153-projet</h5>
            </div>
            <p class="mb-1">Un projet de groupe fait pour ma classe "Génie logiciel : conception". Cèest une application pour que les hopitaux puisse partager les informations sur les patients.</p>
            <small>Projet d'école</small>
        </a>
        <a href="https://github.com/elenor001/inf4375tp" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">https://github.com/elenor001/inf4375tp</h5>
            </div>
            <p class="mb-1">Un projet de groupe fait pour ma classe "Paragdimes des échanges Internet". Il récupère les informations sur les inspéctions alimentaires et offre des services basés sur ces informations.</p>
            <small>Projet d'école</small>
        </a>
    </div>

</body>
</html>