<!DOCTYPE html>
<html>
<head>
<title>Skills</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <a class="navbar-brand" href="resume">Resume</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="competences-fr">Français</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <h1 class="display-4">Programming, Scripting and Markup Language:</h1>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/html.png" alt="HTML">
                    <div class="card-body">
                        <p class="card-text">HTML</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img id="css" class="card-img-top m-auto" src="img/imgcss.png" alt="CSS">
                    <div class="card-body">
                        <p class="card-text">CSS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/jslogo.png" alt="Javascript">
                    <div class="card-body">
                        <p class="card-text">Javascript</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/c.png" alt="C">
                    <div class="card-body">
                        <p class="card-text">C</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img id="cplusplus" class="card-img-top" src="img/c++img.png" alt="C++">
                    <div class="card-body">
                        <p class="card-text">C++</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/Csharp_Logo.png" alt="C#">
                    <div class="card-body">
                        <p class="card-text">C#</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/Java.png" alt="Java">
                    <div class="card-body">
                        <p class="card-text">Java</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img id="ts" class="card-img-top m-auto" src="img/ts.png" alt="Typescript">
                    <div class="card-body">
                        <p class="card-text">Typescript</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img id="spring" class="card-img-top m-auto" src="img/spring.png" alt="Spring">
                    <div class="card-body">
                        <p class="card-text">Spring</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/asm.png" alt="Assembly">
                    <div class="card-body">
                        <p class="card-text">Assembly</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/sql.png" alt="SQL">
                    <div class="card-body">
                        <p class="card-text">SQL</p>
                    </div>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row mt-3">
            <h1 class="display-4">Frameworks, Libraries and Tools:</h1>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/node.png" alt="Node Js">
                    <div class="card-body">
                        <p class="card-text">Node Js</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/python.png" alt="Python">
                    <div class="card-body">
                        <p class="card-text">Python</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/angular.png" alt="Angular">
                    <div class="card-body">
                        <p class="card-text">Angular</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <h1 class="display-4">Databases:</h1>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/mysql.png" alt="My SQL">
                    <div class="card-body">
                        <p class="card-text">My SQL</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/sqlite.png" alt="SQLite">
                    <div class="card-body">
                        <p class="card-text">SQLite</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top m-auto" src="img/mongodb.jpg" alt="MongoDB">
                    <div class="card-body">
                        <p class="card-text">MongoDB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>