@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	transition: background 0.4s linear;
	text-align: center;
	margin: 0;
	min-height: 100vh;
}

h1 {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: flex-start;
}

p, h5 {
	text-align: left;
}

.skills-ul {
	list-style-type: none;
	-moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

li {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.portfolio-ul {
	list-style-type: none;
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.site {
	margin-left: 250px;
}

.name {
	margin-top: 10px;
}

.menu {
	list-style: none;
	max-width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	background-color: #1f1f1f;
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
}

.nav {
    padding: 1em 2em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.tab {
	color:white;
    cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 5px 0px 0px 0px;
	margin: 2px 2px 2px 2px;
    justify-content: center;
    transition: background 0.4s linear;
}

.fas, .fab {
	margin-right: 5px;
}

a:hover{
	background-color: white;
	color:#1f1f1f;
    border-radius: 10px;
	text-decoration: none;
}

.tab-footer {
	color: white;
	padding: 5px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	max-width: 1120px;
	margin: 20px;
}

.portfolio-item {
	border-radius: 10px;
	margin: 20px 1.6%;
	overflow: hidden;
	position: relative;
	width: 40%;
}

.portfolio-item img {
	object-fit: cover;
	transition: transform 200ms ease-in;
	height: 100%;  	
	width: 100%;
}

.portfolio-item:hover img {
	transform: scale(1.1);
}

.portfolio-content {
	background-color: #293347;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	width: 100%;
	height: 100%;
}

.portfolio-item:hover .portfolio-content {
	opacity: 1;
}

.portfolio-content p {
	color: #fff;
	font-size: 20px;
	padding: 0 40px;
}

.portfolio-content a {
	background-color: #fff;
	border-radius: 3px;
	color: #000;
	margin-top: 20px;
	padding: 7px 15px;
	text-decoration: none;
}

.cnavy {
    color: #355c7d;
}

.cpurple {
    color: #6c5b7b;
}

.cpink {
    color: #f65280;
}

.cpurplepink {
    color: #c06c84;
}

.cyellow {
    color: #f8b195;
}

.bnavy {
    background-color: #355c7d;
}

.bpurple {
    background-color: #6c5b7b;
}

.bpink {
    background-color: #f65280;
}

.bpurplepink {
    background-color: #c06c84;
}

.byellow {
    background-color: #f8b195;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.img-resume{
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#pic {
    border-radius: 50%;
}

.pic-card-height {
    height: 300px;
}

@media (max-width: 960px) {
	.portfolio-item {
		width: 100%;
		margin: 15px 0;
	}
}

@media only screen and (max-width: 600px) {

	.name {
		display: none;
	}
	
	#pic {
		display: none;
	}

	.nav-footer {
		display: none;
	}

	.menu {
		max-width: 100%;
		height: 50px;
		position: relative;
		top: 0;
		display: flex;
	}

	.nav {
		flex-direction: row;
	}

	.site {
		margin-top: 20px;
		margin-left: 0px;
	}
}